/* Exemplo de estilo para o layout sugerido */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
    padding: 0;
    background-color: #0A192F;
    color: #033d94;
    text-align: justify;
}

header {
    background-color: #0A192F;
    color: #f0f0f0;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    color: #f4f4f4;
}

nav {  
    list-style: none;
    padding: 15px;
    padding-bottom: 5px;
    text-align: start;
    word-spacing: 8px;
}
nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: aqua;
    background-color: #043072;
    padding: 5px;
    border-radius: 5px;
}

main {
    background-color: #f4f4f4;
    
}

main img {
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

main a {
    text-decoration: none;
    color: #043072;
}

main a:hover {
    text-decoration: underline;
    background-color: aqua;
    border-radius: 1px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

section h1 {
    background-image: linear-gradient(to right,  rgb(254, 254, 255), rgba(177, 163, 163, 0.763), rgba(182, 208, 218, 0.718), transparent);
    color: #0A192F;
    font-family: Bebas, Neue, family;
    font-weight: bold;
    font-size: 40px;
   
}

section ul {
    list-style-type: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 1px;
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: aqua;
    background-color: #043072;
    padding: 5px;
    border-radius: 10px;
}
