body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

table {
    width: 500px;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #00000077;
    color: white;
    
}

.disciplina {
    text-align: left;
    font-weight: bold;
}

.media {
    background-color: #00000077;
    color: white;
}

#media {
    text-align: left;
}