body{
    background-color:   rgb(230, 230, 242);
    color: rgb(6, 0, 0);
    margin: 15px;
    padding: 20px;
}

header {
    color: blue;
}

header h1 {
    text-align: center;
}

main {
    background-color: aliceblue;
}

section {
    color: blue;
}

section h1, h2 {
    color: black;
}

image {
    border: 0px;
    border-radius: 50%, 50%;
}

